.qmake.stash
.vs
*.pro.user
debug
htf2.vcxproj
htf2.vcxproj.filters
htf2.vcxproj.user
build*/
*-build/
out/
release
CMakeLists.txt.user
CMakeSettings.json

.vscode/

*tmp*
NB_FRAMES_HALF_1
htf2.config
htf2.creator
htf2.files
htf2.includes
